
<div id='app'>
    <div id='sidebar'>
        <ul>
            <%Chatroom.all.each do |chatroom|%>
            <li id="chatroom">
            <img src="<%=chatroom.users[0].img_url%>">
            <img src="<%=chatroom.users[1].img_url%>">
            <%=link_to chatroom.title,chatroom_path(chatroom)%>
            </li>
            <%end%>
        </ul>
    </div>

    <div id="messages">
        <%=render "messages"%>
        <div id="anchor"></div>
    </div>
</div>