<div id='app'>
    <div id='sidebar'>
        <ul>
            <%Chatroom.get_active_chatrooms(session[:user_id]).each do |chatroom|%>
            <li id="chatroom">
            <img id="user_img" src="<%=chatroom.users[0].img_url%>">
            <img id="user_img" src="<%=chatroom.users[1].img_url%>">
            <%=link_to chatroom.title,chatroom_path(chatroom)%>
            </li>
            <%end%>
        </ul>
    </div>

    <div id="messages">
        <%=yield%>
        <div id="anchor"></div>
    </div>
</div>