/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#app {
  background-color: #505050;
  color: white;
}

#sidebar {
  list-style-type: none;
  margin: 0;
  padding-top: 15vh;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  overflow-y: scroll;
  width: 30%;
  top: 0;
}
#sidebar a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  margin: 1%;
  padding: 10%;
  border-radius: 5px;
}
#messages {
  padding-left: 31%;
  display: flex;
  flex-direction: column;
}

#from {
  background-color: #5fc9f8;
  color: black !important;
  padding: 1%;
  margin-left: auto;
  margin-right: 0;
  border-radius: 25px;
}
#to {
  background-color: #d3d3d3;
  color: black !important;
  padding: 1%;
  border-radius: 25px;
}

#chatroom {
}
#chatroom a#current {
  background-color: #5fc9f8;
}
#user_img {
  width: 30px;
  height: 30px;
}

#navbar {
  background-color: #1eb4e4;
  color: aliceblue;
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  top: 0%;
  height: 10%;
  padding-bottom: 20px;
}
#navlinks {
  display: flex;
}
#messageinput {
  display: inline;
}
#messageinput #message_content {
  top: 0;
  margin: 0;
  width: 85%;
}
#messageinput .submit {
  top: 0;
  margin: 0;
  height: 5em;
  width: 13%;
}
#anchor {
  overflow-anchor: auto;
  height: 1px;
}
