/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body,
html {
  height: 87vh;
  margin: 0;
  padding: 0;
  border: 0;
}
#app {
  bottom: 0;
  top: 0;
  height: 100%;
}

#sidebar {
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;

  list-style-type: none;
  margin: 0;
  padding-top: 15vh;
  padding-left: 0;
  padding-right: 0;
  width: 30%;
}
#sidebar a#current {
  height: 100%;

  background-color: #1eb4e4;
}
#chatroom {
  height: 10%;
}
#sidebar a {
  display: block;
  height: 10%;
  background-color: aliceblue;
  margin: 1%;
  border-radius: 5px;
}

#messages {
  background-color: #505050;
  color: white;
  height: 100%;
  margin-top: 7%;
  padding-left: 31%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#from {
  background-color: #1eb4e4;
  color: black !important;
  padding: 1%;
  margin-left: auto;
  margin-right: 0;
  border-radius: 25px;
}
#to {
  background-color: #d3d3d3;
  color: black !important;
  padding: 1%;
  border-radius: 25px;
}

#user_img {
  width: 30px;
  height: 30px;
}
#bottomnav {
  background-color: #1eb4e4;
  color: #dcdcdc;
  margin: 0;
  height: 10;
}
#navbar {
  background-color: #1eb4e4;
  color: #dcdcdc;
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  top: 0%;
  padding-bottom: 20px;
}
#navlinks {
  display: flex;
}
#messageinput {
  position: relative;

  right: 0;
  bottom: 0;
  display: inline;
}
#messageinput #message_content {
  display: inline-block;
  margin: 0 auto;
  right: 0;
  height: 4em;
  width: 90%;
}
#messageinput .submit {
  display: inline-block;
  width: 7%;
  margin: 0 auto;
  height: 5em;
}

#login {
  margin: auto;
  padding: 10px;
  padding-left: 10%;
}
#logincontainer {
  background-image: url("https://media.timeout.com/images/100559605/image.jpg");
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
